@font-face {
    font-family: 'Neultica';
    src: url('../fonts/neultica-4f-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/Panton.ttf') format('truetype');
    font-weight: 50;
    font-style: normal;
}

.menu_board {
  display: none;
}

.preview_title {
  font-family: 'Neultica', sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.27);
  color: #f8fef4;
}

.title {
  font-family: 'Neultica', sans-serif;
  font-size: 60px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.27);
  color: #f8fef4;
}

html, body {
  margin: 0;
  background: #1b1d20;
  color: #fff;
  font-family: system-ui, sans-serif;
}

.main_logo {
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.divider {
    width: 390px;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5)
}

.container { 
    max-width: 1200px;
    margin: 0 auto;
} 

.header {
    position: fixed;
    max-width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    background: #a39386;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,.2); 
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
    max-width: 71px;
    margin-right: 6px;
    margin-left: 0px;
}

.logo_CHWZ {
    font-family: 'Neultica', sans-serif;
    font-size: 25px;
    margin-top: 6px;
    max-width: 90px;
    text-shadow: 0px 0px 20px rgb(0 0 0 / 14%);
}

.header__content {
  display: flex;  
  justify-content: space-between;
  min-width: 550px
}

.header_links {
    display: flex;
    padding-top: 13px;
}

.header_link {
    position: relative;
    margin-right: 45px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffffde;
    transition: color 0.5s ease;
}

.header_link:hover {
   color: #0000FF;
}

.youtube:hover {
   color: #FF0000;
}

.instagram:hover {
   color: #de2d73;
}

.header_menu {
  display: none;
}

.preview {
  padding: 160px 0 90px 0;
  background:
    radial-gradient(circle at 30% 35%, rgba(255,255,255,0.15), transparent 55%),
    radial-gradient(circle at 70% 65%, rgba(0,0,0,0.12), transparent 60%),
    linear-gradient(180deg, #b7aca1, #a39386);
    background-image: url("../img/ChWZKosciol.png");
  background-size: cover;
}

.preview_item {
  margin: 100px 0;
}

.preview_logo {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.calendar {
  padding: 60px 0 80px;
  background:
  radial-gradient(circle at 30% 35%, rgba(255,255,255,0.15), transparent 55%),
  radial-gradient(circle at 70% 65%, rgba(0,0,0,0.12), transparent 60%),
  linear-gradient(180deg, #b7aca1, #a39386);
}

.calendar_container {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}

.flatpickr-calendar {
  background: #a39386;
  border-radius: 17px;
}

span.flatpickr-weekday {
  color: #000
}

.flatpickr-calendar.inline {
    top: 0px; 
}

.flatpickr-day.flatpickr-disabled {
  color: rgb(131 120 111);
}

.flatpickr-day {
  color: #000;
}

.flatpickr-day.selected, 
.flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, 
.flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, 
.flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, 
.flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, 
.flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDa {
  background: #393939;
  border-color: #000; 
}

.calendar_window {
  display: block;
  background: #a39386;
  width: 278px;
  height: auto;
  margin-left: 150px;
  border-radius: 17px;
  border: 1px solid #e6e6e6;
  color: black;
  padding: 15px;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.video {
  margin-top: 40px;
}

iframe {
  width: 480px;
  height: 270px;
  position: relative;
  box-shadow: 0 4px 30px rgba(0,0,0,.25)
}


.info {
  background:
  radial-gradient(circle at 30% 35%, rgba(255,255,255,0.15), transparent 55%),
  radial-gradient(circle at 70% 65%, rgba(0,0,0,0.12), transparent 60%),
  linear-gradient(180deg, #b7aca1, #a39386);  
  overflow: hidden;
  padding: 60px 0 90px;
}

.container_info {
    display: flex;  
    justify-content: space-between;
    margin: 50px 150px 0 150px;
}

.tabcontainer {
    display: flex;
    width: 100%;
    border-radius: 25px;
    height: 600px;
    background: #a39386;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.411)
}

.tabheader {
    width: 200px;
    padding: 35px 0 35px 30px;
}

.tabheader__items {
    border-right: 1px solid #ffffff;
}

.tabheader__item {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    color: #fffff4;
    cursor: pointer;
    transition: .3s all;
    text-shadow: 0px 0px 20px rgb(0 0 0 / 63%);
}

.tabheader__item:first-child {
  margin-top: 0;
}

.tabheader__item_active {
    color: #fffff4;
    font-size: 22px;
    font-weight: 700
}

.tabcontent {
  font-family: 'Panton', sans-serif;
  line-height: 27.8px;
  font-weight: 100;
  font-size: clamp(4px, 1vw, 22px);
  width: 1355px;
  padding: 35px;
  text-shadow: 0px 0px 20px rgb(0 0 0 / 80%);
  color: #fffff4
}

.text {
  display: flex;
}

.copy {
  padding-left: 8px;
  padding-top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.arrow {
  padding-left: 7px;
  padding-top: 7px;
  width: 15px;
  height: 15px;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center; /* ← центр по вертикали */
}

ol {
  margin: 0;
}

.tabcontent ul li ol {
  font-family: 'Panton', sans-serif;
  font-weight: 100;
  font-size: 22px;
  width: 1355px;
  color: #fffff4;
}

.media_link {
    color: #fffff4;
}

.media_link:hover {
  text-decoration:underline;
}

  a, a:visited {
    text-decoration: none;
  }

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer__dane {
  margin-bottom: 15px;
}

.footer_divider {
  width: 304px;
  height: 1px;
  background: #fff;
}

.footer__copy {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  body {
  background:
    radial-gradient(circle at 30% 35%, rgba(255,255,255,0.15), transparent 55%),
    radial-gradient(circle at 70% 65%, rgba(0,0,0,0.12), transparent 60%),
    linear-gradient(180deg, #998e83, #a39386);   
  }
  .divider {
    display: none;
  }
  .header {
    height: 57px;
    padding: 0 10px;
  }
  .header.active {
    position: absolute;
    z-index: 0;
  }
  .header__content {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    min-width: auto;
  }
  .logo_CHWZ {
    font-size: 24px;
    margin: 0 0 2px 11px;
  }
  .logo_img {
    display: none;
  }
  .header_links {
    display: none;
  }
  .header_menu {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .header_line {
    width: 26px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: 
      transform 0.3s ease,
      width 0.3s ease,
      border-radius 0.3s ease;
  }
  .header_line.middle {
    margin: 6px 0;
  }
  .header_line.top.active  {
    transform: translate3d(0px, 8px, 0px)
  }
  .header_line.middle.active {
    width: 0px;
  }
  .header_line.bottom.active {    
    transform: translate3d(0px, -8px, 0px)
  }
  .header_line.rotate {
    transition-delay: 0.4s; /* ждём пока опустится */
  }
  .header_line.top.rotate {
    transform: translate3d(0, 8px, 0) rotateZ(-45deg);
  }
  .header_line.bottom.rotate {
    transform: translate3d(0, -8px, 0) rotateZ(45deg);
  }
  .menu_board.active {
    display: flex;
    background: #000;
    flex-direction: column;
  }
  .preview {
    background-image: none;
  }
  .preview_logo {
    max-width: 150px;
  }
  .info {
    background: none
  }
  .calendar {
    background: none
  }
  .footer {
    background: #1b1d20;
  }
}







@media (max-width: 1000px) {
  .calendar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    flex-flow: column;

  }

  .calendar_window {
    display: block;
    background: #a39386;
    width: 278px; 
    height: auto;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 17px;
    border: 1px solid #e6e6e6;
    color: black;
    padding: 15px;
  }
}












@media (max-width: 850px) {
  .contact__info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__info-item {
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .contact {
    background-color: #D9D9D9;
    margin-top: 70px;
    padding-bottom: 45px;
  }
}
@media (max-width: 500px) {
  .contact__info-item {
    padding: 0 25px;
  }
  .contact__info-text {
    font-size: 25px;
    width: 332px;
  }
}
@media (max-width: 400px) {
  .contact__info-text {
    font-size: 23px;
    width: 290px;
  }
}
@media (max-width: 370px) {
  .contact__info-text {
    font-size: 20px;
    width: 270px;
  }
  .contact__info-title {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links {
    display: none;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__contact-text {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .footer__dane-text {
    font-size: 20px;
    margin-top: 20px;
  }
  .footer__copy-text {
    line-height: 140%;
  }
}